// Bootstrap
@import '~bootstrap/dist/css/bootstrap.css';
@import 'vue2-datepicker/index.css';
@import 'vue2-timepicker/dist/VueTimepicker.css';
@import 'vue-select/dist/vue-select.css';

.invalid-feedback_invisible {
    display: block !important;
    visibility: hidden !important;
    min-height: 21px;
}

.is-invalid {
    ~ .invalid-feedback_invisible, .invalid-feedback_invisible {
        visibility: visible !important;
    }
}

.v-select.form-control {
    min-height: 38px;
    padding: 2px 0 0 0;

    &.vs--open {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    .vs__dropdown-toggle {
        border: none !important;
    }
}

.vue__time-picker {
    .form-control ~ .controls .char{
        margin-top: 1px;
    }

    .form-control {
        min-height: 38px;
        border: 1px solid #dee2e6 !important;

        &.disabled {
            background-color: #e9ecef !important;
            color: #212529 !important;
        }
        &.is-invalid {
            border-color: #dc3545 !important;
        }
    }

    &.shrunk {
        width: 80px;

        .form-control {
            width: 80px;
        }

        .clear-btn {
            padding: 0 8px;
        }
    }

    &.shrunk-md {
        width: 120px;

        .form-control {
            width: 120px;
        }

        .clear-btn {
            padding: 0 8px;
        }
    }
}

.mx-datepicker {
    width: 140px;

    .form-control.is-invalid {
        background-position: right calc(1.5em + 0.2rem) center !important;
    }
}

.justify-self-end {
    justify-self: end;
}

.mt-5px {
    margin-top: 5px
}

.line-height-20px {
    line-height: 20px;
}
